<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" type="text/css" href="sat.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <title>durga software solutions</title>
</head>
<body>
<h1>welcome to durgasoftware </h1>
<h1>list of the database</h1>
<ol>
    <li>oracle</li>
    <li>sql server</li>
    <li>mysql</li>
</ol>
<h2>list of the laguage</h2>
<ol>
    <li>python</li>
    <li>java</li>
    <li>c laguage</li>

</ol>
<h3> list of laguage</h3>
<ol> 
    <li>python</li>
    <li>java</li>
    <li>c</li>
    <li>boosttrap</li>
    <li>html</li>
</ol>

<a href='http//www.google.com',aline=right>click</a>
<form method=" ">
<label for="firstname"> enter<b>firstname:</b></label><br>
    <input type='text',id='firstname'><br>
<label for='lastname'>enter<b>lastname:</b></label><br>
    <input type='text',id="lastname"><br>
<label type="email">maile</label><br>
<div class ="form-center">
<input type="radio" name="gender" value="male">male<br>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
